<section id="despre-noi" class="py-20 bg-white cursor-default-must">
  <div class="container mx-auto px-6">
    <div class="flex flex-col lg:flex-row items-center gap-12">
        <div class="lg:w-1/2">
            <div class="relative">
                <img class="w-full h-125 object-cover rounded-2xl shadow-xl" src="../../src/assets/magazin/magazin_4.jpeg"
                alt="compassionate funeral director counseling family, warm office setting, professional attire, caring atmosphere, natural lighting">
                <div class="absolute -bottom-10 -right-6 bg-sky-900 text-white p-8 rounded-2xl shadow-xl">
                    <p class="text-5xl font-bold font-serif mb-2">5+ ani</p>
                    <p class="text-sm">Vechime in specialitate</p>
                </div>
            </div>
        </div>
        <div class="lg:w-1/2 space-y-6">
            <p class="text-gray-500 font-semibold text-xl mb-2">Despre noi</p>
            <h3 class="font-serif text-4xl text-charcoal font-semibold leading-tight">
                Deviza noastra sunt profesionalismul, demnitatea si promptitudinea
            </h3>
            <p class="text-gray-600 leading-relaxed text-lg">
                Pentru ca la agentia de pompe funebre La Ben Sorin intelegem pe deplin durerea, necazul, tristetea si suferinta pe care le experimenteaza familia defunctului vom actiona in consecinta oferind fiecarui client respectul, compasiunea si seriozitatea de care are nevoie.
            </p>
            <p class="text-gray-600 leading-relaxed">
                Suntem alaturi de fiecare client care apeleaza la noi pentru ca ultimul omagiu oferit defunctului si drumul sau catre eternitate sa fie decent si presarat cu toata stima, recunostinta si respectul cuvenit.
            </p>
            <div class="grid grid-cols-2 gap-6 pt-6">
                <div class="flex items-start space-x-3">
                    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#1C274C" stroke-width="1.5"></circle> <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    <div>
                        <p class="font-semibold text-charcoal mb-1">Personal Calificat</p>
                        <p class="text-sm text-gray-600">Exchipa cu experienta</p>
                    </div>
                </div>
                <div class="flex items-start space-x-3">
                        <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#1C274C" stroke-width="1.5"></circle> <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                        <div>
                            <p class="font-semibold text-charcoal mb-1">La dipositie 24/7</p>
                            <p class="text-sm text-gray-600">Intodeauna aici pentru dumneavoastra</p>
                        </div>
                </div>
                <div class="flex items-start space-x-3">
                    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#1C274C" stroke-width="1.5"></circle> <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    <div>
                        <p class="font-semibold text-charcoal mb-1">Servicii personalizate complete</p>
                        <p class="text-sm text-gray-600">Ne adaptam nevoilor fiecaruia</p>
                    </div>
                </div>
                <div class="flex items-start space-x-3">
                    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#1C274C" stroke-width="1.5"></circle> <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    <div>
                        <p class="font-semibold text-charcoal mb-1">Instituție cu valori ortodoxe</p>
                        <p class="text-sm text-gray-600">Cunoastem si respectam traditiile</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
  </div>
</section>
