---
import type { ImgAttributes } from 'astro:assets';


export interface Props {
    title: string,
    body: string,
    Icon?: any
}

const { title, body, Icon } = Astro.props as Props;
---

<div id="card-servicii" class="bg-white rounded-2xl p-8 shadow-sm hover:shadow-lg transition cursor-default-must section-clickable">
    <div class="w-16 h-16 bg-yellow-400 bg-opacity-10 rounded-full flex items-center justify-center mb-6">
        <Icon class="w-8 h-8 text-sage" />
    </div>
    <h3 class="font-serif text-2xl text-charcoal font-semibold mb-4">{title}</h3>
    <p class="text-gray-600 mb-6 leading-relaxed">{body}</p>
    <a href="#contact" class="text-sage font-medium flex items-center space-x-2 hover:space-x-3 transition-all">
<!--     <span contenteditable="false">Afla detalii</span>
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="12"
  height="12"
  viewBox="0 0 448 512"
  class="fill-current">
  <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h306.7L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
</svg> -->
</div>
